*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto",sans-serif ;
}

header{
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
    border-radius: 2px;
    box-shadow: 0px 2px 10px#3f7373;
    background-color: #3f7373;
    padding: 1em 1em;
    max-width: 100%;
    z-index: 1000;
}
.header{
    justify-content: space-evenly;
    nav-index: 100%;
    display: flex;
}
nav ol{
    list-style-type: none;
    gap: 1em;
    display: flex;
}
.barra li a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.barra li{
    transition:all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);

}
.barra li a:hover{
    text-decoration: underline;
}
.barra li:hover{
    color: white;
    transform: scale(1.2);
}
body{
    width: 100%;
    background-color: #BABDBF;
}
.principal{
    max-width: 100%;
    text-align: center;
}
.background{
    padding-top: 470px;
    background: url(imagens/background.jpeg) no-repeat center center;
}
.background img{
    width: 2em;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.background img:hover{
    transform: scale(1.2);
}


.separacao{
    padding: 1.5em;
}
.servicos{
    gap: 1em;
    justify-content: center;
    display: flex;
}
.caixa{
    box-shadow: 1px 1px 1px #48a8a8;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.caixa:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 1px 1px 10px #48a8a8;
}

.servicos h2{
    margin: 0.5em;
}
.caixa{
    padding: 0.5em;
    border-radius: 25px;
    border: 1px solid #b1b8bd;
    background-color: #b1b8bd;
}
.caixa img{
    border-radius: 50px;
    width: 150px;
}

.categoria{
    justify-content: center;
    display: flex;
    padding-top: 1em;
}
.oculto{
    display: flex;
    border-radius: 25px;
    padding: 1em;
    border: 1px solid #b1b8bd;
    background-color: #b1b8bd;
}
.caixinha img{
    width: 180px;
}
.caixinha{
    flex-wrap: wrap;
    gap: 1em;
    display: flex;
}
.categoria img{
    border-radius: 55px;

}
.oculto p{
    text-align: center;
    font-size: 25px;
    background-color: #BABDBF;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.botao:hover{
    text-decoration: underline;
    cursor: pointer;
    transform: translateY(-10px);
}













footer{
    text-align: center;

    border-radius: 2px;
    box-shadow: 0px 2px 10px#3f7373;
    background-color: #3f7373;
    padding: 1em 1em;
    max-width: 100%;
}
