*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url("imagens/headerhero.png");
    height: 100px;
    width: 1920px;
}
body{
    margin: 0 auto;
    max-width: 1920px;
    width: 1920px;
    height: 6100px;
    max-height: 6144px;
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header h1{
    font-weight: 600;
    margin-top: 34px;
}
.header div{
    margin-left: 61px ;
    margin-right: 61px;
}
.telefone h2{
    font-size: 32px;
    font-weight: 300;
    margin-top: 40px;
}
.icons img{
    width:52px ;
    height: 52px;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.icons img:hover{
    transform: scale(1.1);
}
.icons{
    display: flex;
    gap: 41px;
    margin-top: 25px;
}
.backgroundform{
    max-width: 1920px;
    width: 1920px;
    background: url("imagens/backgroundform.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1544px;
    background-size: cover;

}
.frase img{
    margin-left: 185px;
    margin-top: 175px;
}
.caixa{
    margin-right: 112px;
    display: flex;
    justify-content: right;
}
.form{
    justify-content: center;
    display: flex;
    border-radius: 15px;
    background-color: #d9d9d9;
    width: 550px;
    height: 1004px;
}
.receba p{
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.receba{
    margin-top: 55px;
}
.frase img{
    margin-bottom: 186px;
}
.inputs{
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputs button{
    border-radius: 10px;
    cursor: pointer;
    font-size: 96px;
    width: 409px;
    height: 151px;
    font-weight: 600;
    background-color: #8bcff1;
    border: none;

}
.inputs button:hover{
    background-color: #9ad6f4;
}
.inputs textarea{
    font-size: 32px;
    border-radius: 10px;
    background-color: #2c383f12;
    box-shadow: 0px 1px 6.6px black;
    padding-left: 10px;
    width: 477px;
    height: 300px;

}
.inputs input{
    font-size: 32px;
    box-shadow: 0px 1px 6.6px black;
    border: none;
    background-color: #2c383f12;
    width: 477px;
    height: 61px;
    border-radius: 10px;
    padding-left: 10px;
}
.backapre{
    background: url("imagens/Background\ geral.jpg");
    
    height: 2328px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    width: 1920px;
    max-width: 1920px;
}
.card{
    display: flex;
    justify-content: space-between;
    margin-left: 138px;
    margin-right: 138px;
}
.card img{
    width: 613px;
    margin-top: 258px;
    height: 575px;
}
.trabalhos{
    margin-top: 164px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
}
.trabalhoscard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 188px;
}
.backfooter{
    background: url("imagens/backfooter.png");
    height: 2152px;
    width: 1930px;
}
.ctn h2{
    text-align: center;
    padding-top: 120px;
    font-size: 96px;
}
.formfooter{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 108px;
    width: 1206px;
    height: 876px;
    background-color: white;
}
.formfooter form{
    width: 1080px;
    height: 546px;
    display: flex;
    flex-direction: column;
}
.tituloform p{
    font-weight: 600;
   text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.entradas{
    gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entradas button{
    font-size: 96px;
    width: 905.75px;
    height: 129.19px;
    border: none;
    color: black;
    font-weight: 600;
    background-color: #a3d7f1;
}
.entradas button:hover{
    cursor: pointer;
    background-color: #8bcff1;
}
.entradas input{
    font-size: 32px;
    padding-left: 60px;
    width: 1056px;
    border: none;
    background-color: #2c383f12;
    height: 52.19px;
    border-radius: 15px;
}
.entradas textarea{
    font-size: 32px;
    padding-left: 60px;
    width: 1056px;
    border: none;
    background-color: #2c383f12;
    height: 256.67px;
    border-radius: 15px;
}