*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    text-align: center;
}
header{
    border-radius: 2px;
    box-shadow: 0px 2px 10px#3f7373;
    background-color: #3f7373;
    padding: 0.5em;
    width: 100%;
}
.menu{
    justify-content: space-evenly;
    width: 100%;
    display: flex;
}
nav ol{
    list-style-type: none;
    gap: 1em;
    display: flex;
}
.barra li a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.barra li{
    transition:all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);

}
.barra li:hover{
    color: white;
    transform: scale(1.2);
}
body{
    width: 100%;
    background-color: #BABDBF;
}
.principal{
    width: 100%;
}
.principal h1{
    font-size: 22px;
    padding: 1px;
}
.caixa img{
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 200px;
    width: 15em;
}
.caixa img:hover{
    box-shadow: 1px 1px 1px black;
    transform: scale(1.05);
}
.caixas{
    justify-content: center;
    padding: 1em;
    gap: 1em;
    display: flex;
}
.oculto{
    justify-content: space-around;

}
.sobreposicao{
    display: inline-block;
    position: relative;
}
.oculto{
    top: 0;
    left: 0;
    position: absolute;
}