*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto",sans-serif ;
}

header{
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
    border-radius: 2px;
    box-shadow: 0px 2px 10px#3f7373;
    background-color: #3f7373;
    padding: 1em 1em;
    width: 100%;
    z-index: 1000;
}
.header{
    justify-content: space-evenly;
    width: 100%;
    display: flex;
}
nav ol{
    list-style-type: none;
    gap: 1em;
    display: flex;
}
.barra li a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.barra li{
    transition:all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);

}
.barra li a:hover{
    text-decoration: underline;
}
.barra li:hover{
    color: white;
    transform: scale(1.2);
}
body{
    width: 100%;
    background-color: #BABDBF;
}
.principal{
    width: 100%;
    text-align: center;
}
.background{
    padding-top: 470px;
    background: url(imagens/background.jpeg) no-repeat center center;
}
.background img{
    width: 2em;
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.background img:hover{
    transform: scale(1.2);
}
.servicos{
    justify-content: center;
    display: flex;
}
.servicos img{
    margin-left: 2em;
    border-radius: 250px;
    width: 15em;
    transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.servicos img:hover{
    transform: scale(1.1);
    box-shadow: 1em 1em 1em black;
}
.caixa{
    display: flex;
    align-items: center;

}
