*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header a{
    color: black;
    text-decoration: none;
}
body{
    font-family: "inter", sans-serif;
    width: 100%;
}
header .title{
    font-size: 20px;
    font-weight: 600;
}
header .number{
    padding-top: 3px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header .number:hover{
    transform: scale(1.1);
}
header .iconsheader img{
    width: 33px;
    height: 33px;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
header {
    background: linear-gradient(
        to right,
        rgba(163, 215, 241, 0.62),
        rgba(44, 56, 63, 0.58)
    );
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    z-index: 999;
}


.iconsheader{
    display: flex;
    gap: 21px;
}
.iconsheader img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.backgroundform{
    background-image: url("imagens/backgroundform.png");
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1920/1550;
}
.capa .receba{
    font-size: 44px;
    text-align: center;
    font-weight: 400;
    color: white;
    text-shadow:-4px 6px 3px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
}
.capa form{
    flex-direction: column;
    display: flex;
    margin-top: 210px;
    background-color:#d9d9d9;
    border-radius: 10px;
    padding: 25px 15px;
    gap: 10px;
    opacity: 90%;

}
.formulario{
    justify-content: right;
    display: flex;
    max-height: 1000px;
    margin-right: 210px;
}
.formulario p{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    padding-bottom:10px ;
}
.formulario form input, textarea{
    padding:7px;
    border-radius: 5px;
    border: none;
    background-color: #2c383f13;
    box-shadow: 0px 4px 6.6px 1px rgba(0, 0, 0, 0.25);
}
.formulario button{
    padding: 20px;
    background-color: #a3d7f1;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    font-size: 44px;
}
.formulario button:hover{
    cursor: pointer;
    background-color: #91cfee;
}
.backgroundmain{
    background: url("imagens/backgroundmain.jpg");
    min-height: 2080px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.caixas{
    display: flex;
    justify-content: space-evenly;
}
.caixa{
    margin-top: 10rem;
    padding-top: 30px;
    min-height: 250px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 10rem;
}
.caixa img{
    width: 130px;
    height: 130px;
}
.caixa p{
    font-weight: 600;
    font-size: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.trabalhos{
    margin-bottom: 250px;
    justify-content: center;
    gap: 400px;
    flex-wrap: wrap;
    display: flex;
}
.cards{
    padding: 5px 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 500px;
    min-height: 250px;
    background-color: white;
}
.beafter{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: 600;
}
.titlet{
    margin-top: 200px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #2c383f;
    margin-bottom: 100px;
}
.cards .img{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.img img{
    width: 190px;
    min-width: 100px;
    min-height: 150px;
}

.backgroundcontato h2{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.backgroundcontato .formulario{
    min-height: 600px;
    background-color: white;
    width: 450px;
    border-radius: 15px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}
.formulario form{
    gap: 15px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
}
.backgroundcontato .pho img{
    width: 300px;
}
.pho{
    margin-top: 130px;
    display: flex;
    justify-content: center;
}
.sobre{
    padding-top: 180px;
}
.sobre{
    display: flex;
    justify-content: center;
}
.sobrec{
    color: #2C383F;
    background-color: #bfbfbf;
    border-radius: 54px;
    padding: 25px;
}
.sobrec h2{
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
}
.sobrec p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}